<!-- start custom footer snippets -->
<div style="float: right;">
<a href="https://www.anl.gov/"><img src="{{ site.baseurl }}/assets/images/logos/anl.png" width="100"></a>
&nbsp;&nbsp;&nbsp;&nbsp;
<a href="https://www.llnl.gov/"><img src="{{ site.baseurl }}/assets/images/logos/llnl.png" width="110"></a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="https://www.exascaleproject.org/"><img src="{{ site.baseurl }}/assets/images/logos/ecp.png" width="120"></a>
</div>
<!-- end custom footer snippets -->
